.banner 
    margin-top 4rem
    display grid 
    grid-template-columns 1fr
    grid-template rows 1
    height 90vh
    .banner-img 
        grid-row 1
        grid-column 1
        max-height 100%
        height 100%
        object-fit cover

    .banner-liner  
        grid-row 1
        grid-column 1
        align-self start
        height 100%
        margin auto
    .txt-wrapper
        max-width 100%
        // width 30rem
        margin  5rem auto
        padding 1rem
        
        p
            text-align center
            font-size 2rem 
            color #fff
            // color #fff
        .headings  
            margin-bottom 2rem

    .logo-2 
        margin auto
        width 8rem