.banner 
    display grid 
    grid-template-columns: 1fr
    grid-template-rows: 1fr
    justify-content center
    align-items center
    height 100vh //fit content //100Vh //660px
    //margin-bottom 4rem
    width 100%
    max-width 100%
    position relative
    padding 0 1rem
    a
        background var(--alpha-drk)
        border-radius 2rem
        color #fff
        display block
        margin auto
        margin-top 2rem
        max-width 10rem
        padding .6rem 1rem
        text-decoration none

    .banner-img 
        height 100vh
    .logo-rect 
        margin 1rem auto 2rem 
        width 16rem
    .txt-wrapper 
        color var(--gamma-mid)
        background rgba(255,255,255,.8)
        height fit-content
        margin auto
        margin-top 5rem
        max-width 400px
        padding  4rem 1rem
        text-align center
        width 100%
.banner-img, .txt-wrapper
    grid-area 1 / 1
@media(min-width 1140px)
    .banner
        height 600px
        .txt-wrapper 
            background rgba(255,255,255,.8)
            display grid
            grid-template-columns: 1fr
            justify-content center
            align-items center
            font-size 1.6rem
            height 100%
            line-height 1.6
            margin-left 0
            margin-top 0
            max-width 400px
            padding 1rem
            text-align center
            width 100%
            z-index 2
        .banner-img 
            height 600px

        .inner 
            padding 1rem
        
        .headings
            position relative
            padding-bottom 1rem
            margin-bottom 1rem
        .headings::after
            content ''
            position absolute
            bottom 0
            left 6rem
            right 6rem 
            margin auto
            height .3rem 
            width 6rem
            background var(--alpha-drk)
            z-index 2

