.card-section 
    padding 0 1rem
    margin-top 0
    max-width 100%
.cards 
    display grid 
    grid-template-columns: 1fr
    grid-template-areas 'card-1' 'card-2' 'card-3'
    gap 2rem
    width 100%
    max-width 1200px
    margin 4rem auto 0
    .card 
        box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
        max-width 500px
        margin auto
        border-radius 1rem
        overflow hidden
    .card-title 
        margin 1rem auto
        text-align center
        font-size 1.5rem
        font-weight 300
        color #fff
    p  
        padding 0 1rem 2rem
        text-align center
        color #fff
.card-1 
    background var(--alpha-mid)
    grid-area card-1
.card-2 
    background var(--beta-mid)
    grid-area card-2
.card-3 
    background var(--gamma-mid)
    grid-area card-3
@media(min-width 780px)
    .cards 
        grid-template-columns: repeat(4,1fr)
        grid-template-areas '. card-1 card-1 .' 'card-2 card-2 card-3 card-3'
        width 100%
        max-width 880px
@media(min-width 1080px)
    .cards 
        display grid 
        grid-template-columns: 1fr 1fr 1fr
        grid-template-areas ' card-1  card-2 card-3'
        max-width 1200px