
.large-left, .large-right
	grid-area 1 / 1
	align-self top
	margin-bottom 12rem

.large-left
	justify-self center
	margin-right 0
.large-right 
	justify-self center //right
	margin-left 0 //4rem
.small-left, .small-right
	border 8px solid #fff
	box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
	position relative
	grid-area  1 / 1
	align-self end 
	width 20rem 
	height 20rem
.small-left 
	justify-self center
.small-right 
	justify-self center
.cornered 
	display grid
	grid-template-columns 1fr
	width 100%
	max-width 720px
@media(min-width 960px)
	.large-left, .large-right
		grid-area 1 / 1
		align-self top
		margin-bottom 10rem

	.large-left
		justify-self left
		margin-right 4rem
	.large-right 
		justify-self right
		margin-left 4rem
	.small-left, .small-right
		// border 8px solid #fff
		box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
		position relative
		grid-area  1 / 1
		align-self end 
		width 16rem 
		height 16rem
	.small-left 
		justify-self right
	.small-right 
		justify-self left