.grid-list 
    display grid
    grid-template-columns: 1fr
    gap .4rem
    margin 1rem auto
    max-width 720px 

    .item 
        display grid
        grid-template-columns: 1rem 1fr 
        align-items center
    .spot 
        border-radius 50%
        height 1rem
        width 1rem
    .txt 
        padding .6rem  
       // border-bottom 1px solid 