.header
    position fixed
    display flex
    align-items center
    top 0 
    left 0
    right 0
    height 4rem
    z-index 3
    background var(--beta-lgtr)

    .logo-wrap 
        width 16rem 
        max-width 100%
        margin auto
        padding .5rem
    .logo-rect  
        width 12rem
@media(min-width: 920px)
    .header
        .logo-wrap 
            width 20rem 
            margin 0
            margin-left 4rem


