.header
    position fixed
    display flex
    align-items center
    top 0 
    left 0
    right 0
    height 5rem
    z-index 2
    background #fff

    .logo-wrap 
        width 20rem 
        max-width 100%
        margin auto
        padding 1rem
    .logo-rect  
        width 100%
@media(min-width: 920px)
    .header
        .logo-wrap 
            width 20rem 
            margin 0
            margin-left 4rem


