.alpha
	// background var(--beta-lgt)
	padding 0 1rem 1rem
	.one 
		max-width 600px
		color var(--alpha-mid)
		margin auto
	.two 
		height 100%
		background var(--alpha-mid)
		padding 2rem 1rem
		margin-bottom -8px
	.three 
		display flex 
		flex-direction column
		justify-content center
		background var(--gamma-mid)
		padding 2rem
	.grid 
		display grid
		grid-template-columns 1fr
		grid-template-areas 'one'   'four' 'two' 'five' 'three' 'six'
		gap 1rem
		width 100%
		//max-width 600px
		margin auto
		// padding 0 1rem
		h3 
			text-align center
			font-size 2.5rem
		.grid-list 
			font-size 1.5rem
@media(min-width 960px)
	.alpha
		.grid 
			grid-template-columns 1fr 1fr
			grid-template-areas  'one one'  'four five''two three' 'six six'
			width 100%
			//max-width 960px
@media(min-width 1440px)
	.alpha
		.grid 
			grid-template-columns 1fr 1fr 1fr 
			grid-template-areas  'one one one' 'two four five' 'six six three'
			max-width 100%
			// max-width 1200px
		.one
			margin-left 0	
		h3 
			text-align left