.gamma 
    padding 5rem 1rem
    .two 
        position relative 
        z-index 2
    // .two::before 
    //     background var(--beta-lgtr)
    //     content ''
    //     position absolute 
    //     left 0
    //     top -2rem
    //     right -1rem
    //     bottom -2rem 
    //     //width 100% //4rem
    //     z-index -1
    .grid 
        grid-template-columns: 1fr
        grid-template-areas: 'one' 'two'
        row-gap   3rem
        column-gap 2rem
        width 100%
        max-width 400px
        margin auto

@media(min-width 780px) 
    .gamma 
        .grid 
            grid-template-columns: 1fr 1fr 
            grid-template-areas: 'one two'
            max-width 1080px          