.banner
    img(src="./img/gravel5.jpg", alt="").banner-img
    .txt-wrapper
        .inner
            .headings 
                img(src="./img/logo-rect.png", alt="").logo-rect
                H1 RESIN GRAVEL
                p.biline DRIVES, PATHS, AND PATIOS
            .contact 
                a(href="#bottom") Contact