.banner
    img(src="./img/gravel5.jpg", alt="").banner-img
    .txt-wrapper
        .inner
            .headings 
                img(src="./img/logo-2.png", alt="").logo-2
                H1 RESIN GRAVEL
                p.biline DRIVES, PATHS, AND PATIOS
            .contact 
                p Tel: 7538 743890
                p email: info@resinplus.co.uk