section.card-section 
    .cards 
        .card.card-1 
            img(src="./img/resin-drive.jpeg", alt="").card-img
            h3.card-title Card Title
            p.card-txt Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
        .card.card-2 
            img(src="./img/resin-path.jpeg", alt="").card-img
            h3.card-title Card Title
            p.card-txt Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
        .card.card-3 
            img(src="./img/resin-patio.jpeg", alt="").card-img
            h3.card-title Card Title
            p.card-txt Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor

    