- var vals = ['Lorem ipsum dolor sit amet, consectetur','Lorem ipsum dolor sit amet, consectetur','Lorem ipsum dolor sit amet, consectetur','Lorem ipsum dolor sit amet, consectetur']

section.alpha 
    .liner 
        .grid
            .one 
                h3 Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            .two.beta-lgtr  
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            .three
                .grid-list 
                    each val in vals
                        .item 
                            .spot.beta-mid-bg 
                            .txt.beta-lgt= val
            .four 
                img(src='./img/sections/sq-path.jpeg')
            .five 
                img(src='./img/sections/sq-patio.jpeg')
            .six 
                img(src='./img/sections/slim-land-drive.jpeg')
