- var vals = ['Lorem ipsum dolor sit amet, consectetur','Lorem ipsum dolor sit amet, consectetur','Lorem ipsum dolor sit amet, consectetur']

section.alpha.beta-lgt-bg 
    .liner 
        .grid
            .one 
                //- h3 Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            .two.beta-lgtr.center-center  
                h3.beta-lgt alpha -Lorem ipsum dolor sit amet, consectetur adipiscing 
                //- p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                //- p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            .three.beta-lgt
                p.medium Lorem ipsum dolor sit amet

                .grid-list 
                    each val in vals
                        .item 
                            .spot.beta-mid-bg 
                            .txt.beta-lgt= val
            .four 
                img(src='./img/sections/path-land.jpeg')
            .five 
                img(src='./img/sections/patio-land.jpeg')
            .six 
                img(src='./img/sections/slim-land-drive.jpeg')
