- var vals = ['Lorem ipsum dolor sit amet consectetur Lorem ipsum dolor sit amet, consectetur', 'Lorem ipsum dolor sit amet, consectetur Lorem ipsum dolor sit amet, consectetur', 'Lorem ipsum dolor sit amet, consectetur Lorem ipsum dolor sit amet, consectetur', 'Lorem ipsum dolor sit amet, consectetur Lorem ipsum dolor sit amet, consectetur bollox']

section.delta
    .grid 
        .one 
            h3 Lorem ipsum dolor sit amet consectetur
            p.beta-drk Lorem ipsum dolor sit amet consectetur Lorem ipsum dolor sit amet consectetur 
            .grid-list 
                each val in vals
                    .item 
                        .spot.alpha-mid-bg 
                        .txt.alpha-mid= val
        .two.cornered 
            .large-left
                img(src='./img/sections/path-chubby.jpeg')
            .small-left
                img(src='./img/sections/sq-patio.jpeg') 
        .three.cornered 
            .large-right
                img(src='./img/sections/path-chubby.jpeg')
            .small-right
                img(src='./img/sections/sq-patio.jpeg') 