- var vals = ['Lorem ipsum dolor sit amet consectetur Lorem ipsum dolor sit amet, consectetur', 'Lorem ipsum dolor sit amet, consectetur Lorem ipsum dolor sit amet, consectetur', 'Lorem ipsum dolor sit amet, consectetur Lorem ipsum dolor sit amet, consectetur']

section.epsilon 
        .grid 
            .one 
                img(src='img/sections/slim-land-drive.jpeg')
            .two.alpha-mid-bg.center-center-pad-1
                .liner.pad-1.fit-h.large
                    each val in vals
                        .grid-list
                            .item 
                                .spot.beta-lgt-bg 
                                .txt.beta-lgt= val
                
            .three 
                img(src='img/sections/path-land.jpeg')
            .four.center-center.beta-mid-bg.beta-lgtr.pad-1.text-c
                h4.x-large Epsilon -Sub heading
                p.large Lorem ipsum dolor sit amet consectetur Lorem ipsum dolor sit amet consectetur                 
            .five 
                img(src='img/sections/patio-land.jpeg')
            .six.center-center.gamma-mid-bg.beta-lgt.pad-1.text-c
                h4.x-large Sub heading
                p.beta-lgt.large Lorem ipsum dolor sit amet consectetur Lorem ipsum dolor sit amet consectetur 