- var vals = ['Lorem ipsum dolor sit amet consectetur Lorem ipsum dolor sit amet, consectetur', 'Lorem ipsum dolor sit amet, consectetur Lorem ipsum dolor sit amet, consectetur', 'Lorem ipsum dolor sit amet, consectetur Lorem ipsum dolor sit amet, consectetur', 'Lorem ipsum dolor sit amet, consectetur Lorem ipsum dolor sit amet, consectetur bollox']
section.gamma 
    .grid 
        .one 
            h3 Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            p.beta-drk Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            .grid-list 
                each val in vals
                    .item 
                        .spot.alpha-mid-bg 
                        .txt.alpha-mid= val
        .two.cornered 
            .large-right
                img(src='./img/sections/path-chubby.jpeg')
            .small-right
                img(src='./img/sections/sq-patio.jpeg')