@import './_partials/banner'
@import './_partials/header'
html,body,div,img
    box-sizing border-box
    margin 0
    padding 0
:root  
    --alpha-1 #753a0c

    --beta-1 #0D7873
img  
    display block
    max-width 100%

.banner-img 
    width 100%
body 
    position relative

h1  
    color var(--beta-1)
    text-align center
    // margin 1rem auto
    font-size 3rem


// body {
//     background: red;
// }